.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;
    margin-left: 66px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.628);
    border-radius: 20px;
    width: 150px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dropdown {
    display: inline-block;
    position: absolute;
}

.dropdown-options {
    position: absolute;
    overflow: auto;
    margin-left: 66px;
    text-align: center;
    width: 150px;
    /* height: 150px; */
    height: 101px;
    border-radius: 20px;
    margin-top: 10px;
}

.dropdown-options div {
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.724);
    width: 150px;
    height: 50px;
}

.dropdown-options div a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: #000000;
    margin: 4px 0;
}

.dropdown-options {
    display: none;
    /* Other styles remain the same */
}

.dropdown-options.show {
    display: block;
}

button div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    text-align: center;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: "Nunito", sans-serif;
}

h1 {
    text-align: center;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
}


.container {
    width: 60%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.project-cover-container {
    width: 40%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container2 {
    /* background-color: rgb(77, 95, 115,0.388); */
    /* background-color: #fbd7d1; */
    background-color: #000000;
    width: 40%;
    height: 100%;
    /* height: 909px; */
    display: flex;
    /* margin-left: 20px; */
    border-radius: 150px 20px 20px 150px;
    /* padding-top: 20px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #ffffff6a;
}


#cover-photo {
    width: 100%;
    height: 70%;
    background-image: url('photos/cover-photo-5.jpg');
    background-size: cover;
    border-radius: 20px 150px 20px 20px;
    background-position: center;
    border: 10px solid #ffffff6a;
}

#contact-info {
    margin-top: 10px;
    /* background-color: #fbd7d1; */
    background-color: #000000;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 150px 20px;
    padding: 30px;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border: 10px solid #ffffff6a;
}

#heading {
    font-size: 50px;
}

#introduction {
    width: 100%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: normal;
    text-align: right;
    padding-right: 80px;
}

#my-photo {
    /* background-image: url('https://i.pinimg.com/originals/cc/b0/45/ccb04518ec0f00015b14db0270eefddf.png'); */
    border-radius: 50%;
    height: 450px;
    width: 450px;
    background-image: url('photos/profile.JPG');
    background-size: cover;
    background-position: center;
    border: 5px solid #ffffff79;
}

#sub-introduction {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-weight: 400;
    padding-right: 60px;
    text-align: right;
}


.project-cover-first {
    width: 60%;
    height: 629px;
    background-size: cover;
    border-radius: 20px;
    margin: 11px 30px 10px 16px;
    background-position: center;
    transition: background-image 0.3s ease, transform 0.3s ease;
    background-image: url('photos/cover-photo-bw.png');
    border: 10px solid #ffffff6a;
}

.project-cover-first:hover {
    background-image: url('photos/cover-photo-red.png');
    transform: scale(1.05);
    margin-left: 20px;
}

.project-cover-second {
    width: 2665px;
    height: 629px;
    background-size: cover;
    border-radius: 20px;
    margin: 11px 30px 10px 16px;
    background-position: center;
    transition: background-image 0.3s ease, transform 0.3s ease;
    background-image: url('photos/conversa-cover-photo-bw.png');
    border: 10px solid #ffffff6a;
}

.project-cover-second:hover {
    background-image: url('photos/conversa-cover-photo.png');
    transform: scale(1.05);
    margin-left: 20px;
}

.project-cover-third {
    width: 2665px;
    height: 629px;
    background-size: cover;
    border-radius: 20px;
    margin: 11px 30px 10px 16px;
    background-position: center;
    transition: background-image 0.3s ease, transform 0.3s ease;
    background-image: url('photos/static-pages-cover-photo-bw.png');
    border: 10px solid #ffffff6a;
}

.project-cover-third:hover {
    background-image: url('photos/static-pages-cover-photo.png');
    transform: scale(1.05);
    margin-left: 20px;
}

.side-text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding: 152px 50px 0 50px;
    width: 728px;
}

.project-description {
    font-size: 18px;
}

.view-project-button {
    padding: 50px 50px 0 419px;
}

.view-project-button button {
    height: 70px;
    width: 300px;
    border: none;
    border-radius: 30px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.view-code-button {
    padding: 0 50px 0 700px;
    position: absolute;
}

.view-code-button button {
    height: 70px;
    width: 300px;
    border: none;
    border-radius: 30px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.name-of-project {
    margin-top: 60px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-carousel {
    width: 1264px;
    height: 816px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 471px;
    border: 3px solid rgba(255, 255, 255, 0.537);
}


.my-carousel2 {
    width: 1264px;
    height: 816px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 710px;
    border: 3px solid rgba(255, 255, 255, 0.537);
}

.my-carousel3 {
    width: 1264px;
    height: 816px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 737px;
    border: 3px solid rgba(255, 255, 255, 0.537);
}


.c-item {
    height: 801px;
    width: 801px;
    overflow: hidden;
}

.c-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact-info-container {
    display: flex;
    flex-direction: row;
}

#cover-photo-project {
    width: 1424px;
    height: 929px;
    background-image: url("photos/project-cover-1.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50px;
}

.cook-app-description {
    width: 1495px;
    height: 462px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: large;
    padding: 0 149px;
    font-size: 20px;
}

.cook-app-personas {
    width: 1495px;
    height: 1258px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: large;
    padding: 0 100px;
    font-size: 20px;
}

.cook-app-site-map {
    width: 1256px;
    height: 1072px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: large;
    /* padding: 0 100px; */
    font-size: 20px;

}

.points {
    text-align: center;
    padding-left: 50px;
    margin: 46px 0;
}

.points2 {
    text-align: center;
    padding-left: 50px;
    margin: -257px 0;
}

.carousel-control-prev {
    padding-right: 140px;
}

.carousel-control-next {
    padding-left: 140px;
}

.persona-1 {
    height: 1139px;
    width: 673px;
    background-image: url("photos/persona-1.png");
    background-size: cover;
    background-position: center;
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 0.537);
}

.persona-2 {
    height: 1139px;
    width: 673px;
    background-image: url("photos/persona-2.png");
    background-size: cover;
    background-position: center;
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 0.537);
}

.persona-container {
    width: 100%;
    margin: auto;
    flex-direction: row;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.site-map {
    height: 914px;
    width: 1506px;
    background-image: url("photos/site-map.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: #000000;
    padding: 5px;
    border: 3px solid rgba(255, 255, 255, 0.537);
}

.neon-chat-container {
    display: flex;
    flex-direction: column;
}

.static-1 {
    background-image: url("photos/landing-page-pc.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(255, 255, 255, 0.537);
    margin: 40px 0;
}

.static-2 {
    background-image: url("photos/landing-page-skincare.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(255, 255, 255, 0.537);
    margin: 40px 0;
}

#button-to-code {
    height: 100px;
    width: 197px;
    border: none;
    border-radius: 30px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

@media (max-width:1469px) {
    #introduction {
        font-size: 45px;
    }

    #heading {
        font-size: 45px;
    }

    #sub-introduction {
        font-size: 18px;
    }

    #my-photo {
        width: 400px;
        height: 400px;
    }

    #button-to-code {
        height: 78px;
        width: 168px;
    }
}

@media (max-width:1295px) {
    #my-photo {
        width: 350px;
        height: 350px;
    }

    #heading {
        font-size: 40px;
    }

    #introduction {
        font-size: 40px;
    }
}

@media (max-width:1311px) {
    #introduction {
        font-size: 40px;
    }

    #heading {
        font-size: 40px;
    }

    #sub-introduction {
        font-size: 16px;
    }

    #my-photo {
        width: 300px;
        height: 300px;
    }
}


@media (max-height:778px) {
    #my-photo {
        width: 350px;
        height: 350px;
    }

    #introduction {
        font-size: 40px;
    }

    #heading {
        font-size: 40px;
    }

    #sub-introduction {
        font-size: 16px;
    }

    #contact-info {
        font-size: 16px;
    }
}


@media (max-height:618px) {
    #my-photo {
        width: 300px;
        height: 300px;
    }

    #introduction {
        font-size: 30px;
    }

    #heading {
        font-size: 30px;
    }

    #sub-introduction {
        font-size: 15px;
    }

    #contact-info {
        font-size: 15px;
    }
}

@media (max-width:1826px) {
    .view-project-button {
        padding-left: 317px;
    }

    .side-text {
        width: 567px;
    }

    .project-description {
        font-size: 15px;
    }
}

@media (max-width:1703px) {

    .view-code-button {
        padding-left: 597px;
    }
}

@media (max-width:1528px) {

    .view-code-button {
        padding-left: 325px;
        padding-top: 79px;
    }
}

@media (max-width:1052px) {

    #button-to-code {
        width: 129px;
        font-size: 12px;
    }
}

@media (max-width:995px) {

    #home-page-main-container.main-container {
        flex-direction: column-reverse;
    }

    #cover-photo {
        width: 100%;
    }

    #cover-hoto-container.container {
        max-width: 956px;
        height: 60%;
        width: 100%;
    }

    #container1-id.container2 {
        width: 97%;
        height: 40%;
        margin: 10px;
        border-radius: 20px 20px 20px 20px;
        flex-direction: row;
        max-width: 931px;
        margin-left: 13px;
        padding: 10px;
    }

    .view-code-button {
        padding-left: 602px;
        padding-top: 14px;
    }

    #button-to-code {
        width: 199px;
        font-size: 15px;
    }

    #heading {
        font-size: 25px;
    }

    #phone-number {
        font-size: 20px;
    }

    #email {
        font-size: 20px;
        margin-bottom: 0;
    }

    #cover-photo {
        border-radius: 20px 20px 20px 20px;
    }

    #contact-info {
        border-radius: 20px 20px 20px 20px;
    }

    #introduction {
        padding-right: 0;
        width: 40%;
        font-size: 30px;
    }

    #sub-introduction {
        padding-right: 11px;
    }

}

@media (max-width:919px) {

    .view-code-button {
        padding-left: 518px;
    }
}

@media (max-width:839px) {

    .view-code-button {
        padding-left: 443px;
    }
}

@media (max-width:767px) {

    #container1-id.container2 {

        flex-direction: column;

    }

    #introduction {
        width: 100%;
        font-size: 30px;
        padding-right: 10px;

    }

    #sub-introduction {
        margin: 0;
        margin-left: 202px;
        padding-left: 121px;
        width: 70%;
        padding-right:21px;
    }

    #my-photo {
        width: 156px;
        height: 156px;
        margin-right: -24px;
        margin-bottom: 30px
    }


    #phone-number {
        font-size: 15px;
    }

    #email {
        font-size: 15px;
    }

    .view-code-button{
        padding-left: 338px;
    }

}



@media (max-width:798px) {
    
    #introduction {
        font-size: 20px;

    }

    .hamburger-menu{
        width: 80px;
        height: 80px;
    }
}

